*{
  margin: 0;
  padding: 0;

}

body {
  height: 100vh;
  background-image: radial-gradient(circle, #0f065b, #26096a, #3b0b79, #500d88, #650d96, #900092, #b3008b, #d10082, #ee3b67, #fa6a52, #f9964a, #f0be55);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
